.header_container{
    display: grid;
    grid-template-areas:    "a . . . . . . ."
                            "a b . . . . . ."
                            "a c . . . . . ."
                            "d d d d d d d d";

    border-radius: 5px;
}

.logo__img {
    width: 50px;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid black;
}

.transport__img {
    width: 200px;
}

.logo{
    color: black;
}

.A{
    grid-area: a;
}

.B{
    grid-area: b;
}

.C{
    grid-area: c;
}

.D{
    grid-area: d;
}

.hr-horizontal-gradient {
    margin: -50px auto 10px;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    width: 100%;
}