.header_container{
    background-color: white;
    align-items: center;
    justify-content: center;
}

.logo__img {
    width: 64px;
    border-radius: 6px;
    transition: 0.3s;
}

.caption{
    font-size: 20px;
    float: right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}