.app {

}

form{

}

h1{

}

button{

}

.container{
    width: 1140px;
    margin: auto;
}

@media screen and (max-width:1140px) {
    .container{
        width: 996px;
    }
}

@media screen and (max-width:996px) {
    .container{
        width: 768px;
    }
}

@media screen and (max-width:768px) {
    .container{
        width: 576px;
    }
}

@media screen and (max-width:576px) {
    .container {
        width: 100%;
        padding: 0px 1rem;
    }
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    background-color: white;
    padding: 5px;
}

select{
    width:100%;
    height: 47px;
    border-radius: 5px;
}

label{
    padding: 5px;

}

.my_input{
    width:10%;
}

.my_input2{
    width:25%;
}

.currency_select{
    width:10%;
    height: 47px;
    border-radius: 5px;
}

.port_select{
    width:50%;
    height: 47px;
    border-radius: 5px;
}