.container{
    width: 1140px;
    margin: auto;
}

@media screen and (max-width:1140px) {
    .container{
        width: 996px;
    }
    input{
        width: 98.1%;
    }
}

@media screen and (max-width:996px) {
    .container{
        width: 768px;
    }
    input{
        width: 97.8%;
    }
}

@media screen and (max-width:768px) {
    .container{
        width: 576px;
    }
    input{
        width: 97%;
    }
}

@media screen and (max-width:576px) {
    .container {
        width: 90%;
        padding: 0px 1rem;
    }
    input{
        width: 94%;
    }
}